<li><%= link_to t("lk_users"), admin_users_path %></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t "lk_create" %> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t("lk_subject"), new_admin_subject_path %></li>
    <li><%= link_to t("lk_user"), new_admin_user_path %></li>
  </ul>
</li>
